{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    {% block head %}{% endblock %}
    <title>ActuDoc | actuarial documents</title>
</head>
<body>
    <div class="wrapper">
        <div class="nav-bar">
            <div class="nav-content">
                <div><a href="/">ACTU<strong>DOC</strong></a></div>
                <div class="push-right"><a href="{% url "add_document" %}">Add document</a></div>
                <div><a href="{% url "manage" %}">Manage</a></div>
                <div><a href="{% url "account:user_list" %}">Users</a></div>
            </div>
        </div>

        {% if request.user.username %}
            <div class="profile-bar">
                <div class="profile-content">
                    <div class="push-right">
                        <a href="{% url "account:profile_detail" request.user.username %}" class="link">
                            <strong>{{ request.user.username }}</strong>
                        </a> |
                        <a href="{% url "account:logout" %}" class="link">log out</a>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="vertical-center">
                        <div class="messages {{ message.tags }}">
                            {{ message }}
                            <div class="close-button" onclick="this.parentElement.style.display='none';">&times;</div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock %}
        </div>
        <div class="push"></div>
    </div>
</body>
</html>