{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}
    <div class="vertical-center"><h2>Users</h2></div>
    <div class="brick">
        <table class="striped-table striped-table-top-border">
            <tr>
                <th>No</th>
                <th>First name</th>
                <th>Last name</th>
                <th>E-mail</th>
                <th>Role</th>
                <th>Active</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.profile.role }}</td>
                <td>{{ user.is_active }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}