{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}
    <div class="vertical-center"><h2>Users</h2></div>
    <div class="brick">
        <h3 style="margin-top: 0;">Company</h3>

        <table class="striped-table striped-table-top-border">
            <colgroup>
                <col style="width: auto;">
                <col style="width: 100%;">
            </colgroup>
            <tr>
                <td>Full name:</td>
                <td>{{ request.user.profile.company.full_name }}</td>
            </tr>
            <tr>
                <td>Short name: </td>
                <td>{{ request.user.profile.company.name }}</td>
            </tr>
            <tr>
                <td>Registration code: </td>
                <td>{{ request.user.profile.company.code }}</td>
            </tr>
        </table>

        <h3>Employees</h3>
        <table class="striped-table striped-table-top-border">
            <tr>
                <th>No</th>
                <th>First name</th>
                <th>Last name</th>
                <th>E-mail</th>
                <th>Role</th>
                <th>Active</th>
                {% if user_is_admin %}
                    <th></th>
                {% endif %}
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.profile.role }}</td>
                    <td>{{ user.is_active }}</td>
                    {% if user_is_admin %}
                    <td><a href="{% url "account:user_edit_by_admin" user.id %}" class="link">edit</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}