{% extends "base.html" %}

{% block title %}Edit profile{% endblock %}

{% block content %}
    <div class="vertical-center"><h2>Profile</h2></div>

    <div class="brick">

        <table class="striped-table striped-table-top-border">
            <colgroup>
                <col style="width: auto;">
                <col style="width: 100%;">
            </colgroup>
            <tr>
                <td>Username:</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>First name:</td>
                <td>{{ user.first_name }}</td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td>{{ user.last_name }}</td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>Joined:</td>
                <td>{{ user.date_joined }}</td>
            </tr>
            <tr>
                <td>Date of birth:</td>
                <td>{{ user.profile.date_of_birth }}</td>
            </tr>
            <tr>
                <td>Role:</td>
                <td>{{ user.profile.role }}</td>
            </tr>
        </table>

        <div class="vertical-center">
            <a href="{% url "account:profile_edit" %}" class="button gray-button">Edit profile</a>
        </div>
    </div>
{% endblock %}