{% extends "base.html" %}

{% load static %}
{% block head %}
    <script src="{% static 'js/search_focus.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="search">
        <h2>Search documents</h2>
        <form action="/search" method="get">
            <input type="text" name="phrase" id="search_field">
            <button type="submit">Search</button>
        </form>
    </div>

    {% if phrase %}
        <h3>Document(s) for phrase <i>{{ phrase }}</i></h3>
    {% elif product %}
        <h3>Document(s) for product <i>{{ product.name }} ({{ product.model }})</i></h3>
    {% elif category %}
        <h3>Document(s) for category <i>{{ category.name }}</i></h3>
    {% else %}
        <h3>Latest documents</h3>
    {% endif %}

    <div class="docs">
        {% for document in documents %}
            <div class="doc">
                <div style="background-color: #d5d6da; padding: 4px; text-align: center; font-size: 0.8em; font-weight: bold; border-radius: 12px 12px 0 0;">
                    #{{ document.company_document_id }}
                </div>

                <div style="padding: 16px;">
                    <p>
                        <span class="meta">Title:</span><br>
                        <span>{{ document.title }}</span>
                    </p>
                    <p>
                        <span class="meta">Insurance product:</span><br>
                        <span>{{ document.product.name }} ({{ document.product.model }})</span>
                    </p>

                    <p>
                        <span class="meta">Document category:</span><br>
                        <span>{{ document.category.name }}</span>
                    </p>

                    <p>
                        <span class="meta">Valid from:</span><br>
                        <span>{{ document.validity_start|date:'Y-m-d' }}</span>
                    </p>
                    <div class="vertical-center">
                        <a href="{% url "document_detail" request.user.profile.company.name document.company_document_id %}" class="link">show more</a>
                    </div>
                </div>
            </div>
        {% empty %}
            {% if phrase %}
                <p>No documents found.</p>
            {% else %}
                <p>There is no document yet.</p>
            {% endif %}
        {% endfor %}
    </div>
    {% if documents %}
        {% include "document/pagination.html" with page=documents %}
    {% endif %}


{% endblock %}