{% extends "base.html" %}
{% block content %}

    <h3>Manage insurance products</h3>
    <div class="brick" style="overflow: auto;">
        <table class="striped-table">
            <colgroup>
                <col style="width: auto;">
                <col style="width: auto;">
                <col style="width: 100%;">
                <col style="width: auto;">
                <col style="width: auto;">
            </colgroup>
            <tr>
                <th>No</th>
                <th>Cash flow model</th>
                <th>Name of insurance product</th>
                <th></th>
                <th></th>
            </tr>
            {% for product in products %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="/search/?product={{ product.company_product_id }}" class="link">{{ product.model }}</a></td>
                <td><a href="/search/?product={{ product.company_product_id }}" class="link">{{ product.name }}</a></td>
                {% if user_is_contributor or user_is_admin %}
                    <td>
                        <a href="{% url "edit_product" request.user.profile.company.name product.company_product_id %}" class="link">edit</a>
                    </td>
                    <td>
                        <a href="{% url "delete_product" request.user.profile.company.name product.company_product_id %}" class="link">delete</a>
                    </td>
                {% else %}
                    <td>
                        <span class="disabled link-disabled tooltip">edit
                            <span class="tooltip-text">Only contributors can edit products.</span>
                        </span>
                    </td>
                    <td>
                        <span class="disabled link-disabled tooltip">delete
                            <span class="tooltip-text">Only contributors can delete products.</span>
                        </span>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>

        <div class="vertical-center">
            {% if user_is_contributor or user_is_admin %}
                <a href="{% url "add_product" %}" class="button green-button">Add insurance product</a>
            {% else %}
                <span class="button disabled-button tooltip">Add insurance product
                    <span class="tooltip-text">Only contributors can add products.</span>
                </span>
            {% endif %}
        </div>
    </div>


    <h3>Manage document categories</h3>

    <div class="brick">
        <table class="striped-table">
            <colgroup>
                <col style="width: auto;">
                <col style="width: 100%;">
                <col style="width: auto;">
                <col style="width: auto;">
            </colgroup>
            <tr>
                <th>No</th>
                <th>Name of document category</th>
                <th></th>
                <th></th>
            </tr>
            {% for category in categories %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="/search/?category={{ category.company_category_id }}" class="link">{{ category.name }}</a></td>
                {% if user_is_contributor or user_is_admin %}
                <td>
                    <a href="{% url "edit_category" request.user.profile.company.name category.company_category_id %}" class="link">edit</a>
                </td>
                <td>
                    <a href="{% url "delete_category" request.user.profile.company.name category.company_category_id %}" class="link">delete</a>
                </td>
                {% else %}
                <td>
                    <span class="disabled link-disabled tooltip">edit
                        <span class="tooltip-text">Only contributors can edit categories.</span>
                    </span>
                </td>
                <td>
                    <span class="disabled link-disabled tooltip">delete
                        <span class="tooltip-text">Only contributors can delete categories.</span>
                    </span>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>

        <div class="vertical-center">
            {% if user_is_contributor or user_is_admin %}
                <a href="{% url "add_category" %}" class="button green-button">Add document category</a>
            {% else %}
                <span class="button disabled-button tooltip">Add document category
                    <span class="tooltip-text">Only contributors can add categories.</span>
                </span>
            {% endif %}
        </div>
    </div>

{% endblock %}
